*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* define a variable */
    --heading-color:#307ab5;
    --button-color:#5110b9;
}

div{
    text-align: center;
}

h1{
    /* The `font-size: clamp(1.5rem, 5vw, 3rem);` CSS property is using the `clamp()` function to set a
    flexible font size for the `h1` element. */
    font-size: clamp(1.5rem, 5vw, 3rem); 
}

img{
    width: 100%;
    max-width: 500px;
}

/* @media screen and (max-width:600px){
    h1{
        font-size: 1.5rem;
    }
}

@media screen and (min-width:601px){
    h1{
        font-size: 3rem;
    }
}

@media screen and (min-width:601px) and (max-width:800px){
    h1{
        font-size: 2rem;
    }
} */





button{
    color: var(--button-color);
}