*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 70px;
}
nav ul{
    display: flex;
    width: 400px;
    justify-content: space-around;
    list-style-type: none;
    align-items: flex-end;
}
nav ul a, footer a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.logo{
    padding: 10px;
    border-radius: 50px;

}
nav img{
    padding: 6px;
    border-radius: 50%;
}
nav ul a:hover,footer a:hover{
    color: lightskyblue;
}

main{
    margin: 0px 70px;
}
.row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap;
}
.section{
    width: 30%;
    height: 200px;
    background-color: black;
}
.card{
    flex-shrink: 0;
    flex: 0 0 200px;
    width:300px;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 0px 10px black;
    margin-top: 25px;
    border-radius: 10px;
}
.card img{
    width: 100px;
    border-radius: 50%;
}
footer{
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 700px){
    .row{
        flex-wrap: wrap;
        flex: 0 0 100%;
    }

    nav{
        flex-direction: column;
        align-items: center;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
    ul{
        flex-direction: column;
    }
}